#playlist,
#videoExplorerExpand { display: none !important; }
#videoShareLinks > .socialLinks { top: -35px !important; }
#outline { padding: 0 0 50px !important; }
#outline .sidebar { padding-top: 10px; }
