#playlist, #videoExplorerExpand {
  width: 960px !important;
  margin: 0 auto !important;
}

div#videoExplorerExpand {
  width: 958px !important;
  border-left: 1px #d5d5d5 solid !important;
  border-right: 1px #d5d5d5 solid !important;
}
