#playlist,
#videoExplorerExpand {
  width: 980px !important;
  margin: 0 auto !important;
}

body.videoExplorer #playlist { width: auto !important; }

div#videoExplorerExpand { width: 980px !important; }
