#outline #ichibaMainLogo {
	width: 100% !important;
	height: auto !important;
	background: #eee !important;
	border: none !important;
	border-bottom: 2px #ddd solid !important;
	border-radius: 0 !important;
	padding: 0 !important;
	margin-bottom: 20px !important;
	position: relative !important;
	float: none !important;
	box-shadow: none !important;
}

#outline #ichibaMainLogo:before {
	color: #fff;
	width: 32px;
	height: 32px;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	text-shadow: 0 1px 1px #000;
	background-color: #333;
	display: inline-block;
	border-bottom: 2px #111 solid;
	position: absolute;
	top: 0;
	left: 0;
}

#outline #ichibaMainLogo:before {
	content: '';
	background: #333 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABP0lEQVRIS2NkoDFgpLH5DHSzQArok9NADKJBYAcQe1LDdzAfgAw+B8TiSIZKANkvKbUEWxAdBRpqRYHB+4F6nWD6sVkwCyiZSoEFH4B6BfFZUACU7AfiGUCciWTRfyAb2UHofAug/HEgPgPEpvgscAZK7gFiUFDZkGBBHFDtQiBeBsTR+CyQBEo+oyCImoB66/FZAJJ7D8QCQIyckggFEcjlkUAcD8SLCFlwGBo8LkB6L1QxIQtA+cgEiC2B+AQhC0ARnE5mMIkA9b0lZEE+UMEEMixAyQMg/bjKIleg3C4gPgTE9mRYBNeCywJQ0fGURIP3AdWDkjgKwFeaglxvS4IlWH1Lt+Ial0O7gBIpQAwqnypwKMKrhpAPPgMN5QFiEM2HwwK8aghZAHJdHjTJ4vMBTjWELCAhjrErHfoWAADksDgZnizu3wAAAABJRU5ErkJggg==) no-repeat center;
}

#outline #ichibaMainLogo:after {
	left: 32px;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #333;
	border-width: 5px;
	top: 50%;
	margin-top: -5px;
}

#outline #ichibaMainLogo > a {
	color: #111 !important;
	font-weight: bold !important;
	height: 32px !important;
	margin: 0 0 0 45px !important;
	line-height: 32px !important;
	text-shadow: none !important;
	display: inline-block !important;
}

#outline #ichibaMainHeader {
	color: #eee !important;
	height: 22px !important;
	font-size: 11px !important;
	font-weight: bold !important;
	line-height: 2em !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 10px !important;
	background: #333 !important;
	position: absolute !important;
	top: 5px !important;
	right: -5px !important;
}

#outline #ichibaMainHeader:after {
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 3px 5px 0 0;
	border-color: #777 transparent transparent transparent;
	position: absolute;
	bottom: -3px;
	right: 0;
}

#outline #ichibaMainHeader > a {
	color: #eee !important;
	font-size: 11px !important;
	text-decoration: none !important;
	vertical-align: top !important;
}

#ichibaMain .ichiba_mainitem { width: 130px !important; }
#ichibaMain .rowJustify { clear: none !important; }
#ichibaMain > .ichiba_mainitem:nth-of-type(4n+1) { clear: both !important; }
#ichibaMain dt { height: 65px !important; }
#ichibaMain .balloonUe { width: 100% !important; }

#ichibaMain .balloonUe a {
	position: relative !important;
	background: #fff !important;
	border: 2px solid #ccc !important;
}

#ichibaMain .balloonUe a:after,
#ichibaMain .balloonUe a:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#ichibaMain .balloonUe a:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 8px;
	margin-left: -8px;
}

#ichibaMain .balloonUe a:before {
	border-color: rgba(204, 204, 204, 0);
	border-top-color: #ccc;
	border-width: 11px;
	margin-left: -11px;
}

#ichibaMain .balloonShita { display: none !important; }
#ichibaMain .thumbnail img {
	width: 128px !important;
	height: 128px !important;
	border: none !important;
}

#ichibaMain dd.mobile {
	border: 1px #ccc solid !important;
	border-bottom: none !important;
}

#ichibaMain dd.mobile a {
	width: 100% !important;
	background-position-x: -27px !important;
}

#ichibaMain dd.mobile + .thumbnail { border-top: none !important; }
#ichibaMain .thumbnail a > span {
	text-align: center !important;
	font-size: 20px !important;
	padding: 5px !important;
	display: block !important;
}
#ichibaMain .thumbnail { border: 1px #ccc solid !important; }
#ichibaMainFooter { clear: both !important; }
