#outline #ichibaMainLogo {
	width: 100% !important;
	height: auto !important;
	background: #eee !important;
	border: none !important;
	border-radius: 0 !important;
	padding: 0 !important;
	margin-bottom: 20px !important;
	position: relative !important;
	float: none !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25) !important;
}

#outline #ichibaMainLogo:before {
	color: #fff;
	width: 32px;
	height: 32px;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	text-shadow: 0 1px 1px #000;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

#outline #ichibaMainLogo:before {
	content: '';
	background: #333 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAKlBMVEUAAAD///////////////////////////////////////////////////+Gu8ovAAAADXRSTlMAiM0Ywpj0pzhvXkNFYm/EWgAAAG5JREFUGNNjIBIw515B5tw1QJLTvQsBDiBOLJRzAcSZG8BwAQh7FUCcvQpgztoCEMcWqkwAxOG9DJapXQDiMN0Gc3QbQBxWiCqIdZwQNsQhPJeQXQd3AMI9Clh8wXgRSMgKQDi8d4EExJ0IGWIBAF48QDLGuJG7AAAAAElFTkSuQmCC) no-repeat center;
}

#outline #ichibaMainLogo:after {
	left: 32px;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #333;
	border-width: 5px;
	top: 50%;
	margin-top: -5px;
}

#outline #ichibaMainLogo > a {
	color: #111 !important;
	font-weight: bold !important;
	height: 32px !important;
	margin: 0 0 0 45px !important;
	line-height: 32px !important;
	text-shadow: none !important;
	display: inline-block !important;
}

#outline #ichibaMainHeader {
	color: #eee !important;
	height: 32px !important;
	font-size: 11px !important;
	font-weight: bold !important;
	line-height: 3em !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 15px !important;
	background: #333 !important;
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
}

#outline #ichibaMainHeader > a {
	color: #eee !important;
	font-size: 11px !important;
	text-decoration: none !important;
	vertical-align: top !important;
}

#ichibaMain .ichiba_mainitem { width: 130px !important; }
#ichibaMain .rowJustify { clear: none !important; }
#ichibaMain > .ichiba_mainitem:nth-of-type(4n+1) { clear: both !important; }
#ichibaMain dt { height: 65px !important; }
#ichibaMain .balloonUe { width: 100% !important; }

#ichibaMain .balloonUe a {
	position: relative !important;
	background: #fff !important;
	border: 2px solid #ccc !important;
}

#ichibaMain .balloonUe a:after,
#ichibaMain .balloonUe a:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#ichibaMain .balloonUe a:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 8px;
	margin-left: -8px;
}

#ichibaMain .balloonUe a:before {
	border-color: rgba(204, 204, 204, 0);
	border-top-color: #ccc;
	border-width: 11px;
	margin-left: -11px;
}

#ichibaMain .balloonShita { display: none !important; }
#ichibaMain .thumbnail img {
	width: 128px !important;
	height: 128px !important;
	border: none !important;
}

#ichibaMain dd.mobile {
	border: 1px #ccc solid !important;
	border-bottom: none !important;
}

#ichibaMain dd.mobile a {
	width: 100% !important;
	background-position-x: -27px !important;
}

#ichibaMain dd.mobile + .thumbnail { border-top: none !important; }
#ichibaMain .thumbnail a > span {
	text-align: center !important;
	font-size: 20px !important;
	padding: 5px !important;
	display: block !important;
}
#ichibaMain .thumbnail { border: 1px #ccc solid !important; }
#ichibaMainFooter { clear: both !important; }
