#nicommendContainer,
#nicommendMoreButtonSide,
.contentWrap.addContent,
.contentWrap.addContent + div,
#outline .sidebar { display: none !important; }

#videoInfo .videoMainInfoContainer { margin: 0 !important; }
#videoShareLinks { margin: 10px 0 10px auto !important; }

.expandContainer {
  position: relative !important;
  background: #fff !important;
  border: 2px solid #999 !important;
}

.expandContainer:after,
.expandContainer:before {
  bottom: 100% !important;
  left: 95% !important;
  border: solid transparent !important;
  content: '' !important;
  height: 0 !important;
  width: 0 !important;
  position: absolute !important;
  pointer-events: none !important;
  visibility: inherit !important;
}

.expandContainer:after {
  border-color: rgba(255, 255, 255, 0) !important;
  border-bottom-color: #fff !important;
  border-width: 10px !important;
  margin-left: -10px !important;
}

.expandContainer:before {
  border-color: rgba(153, 153, 153, 0) !important;
  border-bottom-color: #999 !important;
  border-width: 13px !important;
  margin-left: -13px !important;
}

.expandContainerBottom:before,
.expandContainerBottom:after {
  content: '';
  display: block;
  overflow: hidden;
}

#outline .main,
#ichibaMain { width: 100% !important; }

#ichibaMain #ichiba_mainpiaitem {
  width: 180px !important;
  margin: 0 12px 15px 0 !important;
}

#ichibaMain dl.pia dd.pia {
  width: auto !important;
  margin-top: 50px !important;
}

#ichibaMain .rowJustify { clear: none !important; }

#ichibaMain dl { margin-right: 0 !important; }
#ichibaMain > .ichiba_mainitem:nth-of-type(5n+1) {
  clear: both;
  margin-left: 0 !important;
}
.expandContainerBottom:after,
#ichibaMainFooter { clear: both; }
